@use '../styles/typography' as t;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
}

.title {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0 23px 0 0;
  border-right: 1px solid var(--br-strong);
  vertical-align: top;

  @include t.title-2;
}

.message {
  display: inline-block;
}

.messageText {
  margin: 0;

  @include t.paragraph;
}

.link {
  margin-top: 20px;
  color: var(--text-link);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
