@mixin thin {
  scrollbar-color: var(--color-graphic-tertiary) transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: var(--radius-full);
    background: var(--color-graphic-tertiary);
    background-clip: content-box;
  }
}
