@mixin display-large {
  font-weight: 500;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 0;
}

@mixin heading-large {
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.55px;
}

@mixin heading-medium {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.5px;
}

@mixin heading-small {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.25px;
}

@mixin label-large($weight: 600) {
  font-weight: $weight;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.25px;
}

@mixin metric-value {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
}

@mixin label-medium {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.25px;
}

@mixin body-strong {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.25px;
}

@mixin body {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.25px;
}

@mixin button-large {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.25px;
}

@mixin button-small {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.15px;
}

@mixin caption($weight: 600) {
  font-weight: $weight;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.25px;
}

@mixin caption-compact {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.15px;
}
