@use '../../../styles/breakpoints' as bp;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding-inline: 20px;
}

@include bp.md {
  .container {
    max-width: 768px;
    padding-inline: 30px;
  }
}

@include bp.lg {
  .container {
    max-width: 1024px;
    padding-inline: 40px;
  }
}

@include bp.xxl {
  .container {
    max-width: 1440px;
    padding-inline: 120px;
  }
}
